//Medias para el header con max-width
@media screen and (max-width: 900px)
    header
        nav
            flex-direction: column
            gap: 1em
            ul
                justify-content: space-between
                li
                    &.login,
                    &.register
                        width: 15vw
//Medias para el header con max-width
@media screen and (max-width: 700px)
    header
        padding: 0
        margin: auto 0.2em
        border-radius: 1em
        z-index: 101
        nav
            flex-direction: row
            justify-content: space-between
            padding: 0.5em
            ul
                li button
                    display: inline-block
                    font-weight: 900
                    font-size: $font-big
                    color: $cl-light-blue
                li
                    display: none
    .overlay
        display: block
        a
            display: inline-block
            position: relative
            text-align: center
            text-decoration: none
            font-size: 20px
            overflow: hidden
            top: 5px
    li.burger
        display: block
    .button_container
        position: fixed
        top: 0.6em
        right: 5%
        height: 35px
        width: 35px
        cursor: pointer
        transition: opacity .25s ease
        border: none
        background: #ffffff
        &:hover
            opacity: .7
        &.active
            .top
                transform: translateY(11px) translateX(0) rotate(45deg)
                background: $cl-light-blue
            .middle
                opacity: 0
                background: $cl-light-blue
            .bottom
                transform: translateY(-11px) translateX(0) rotate(-45deg)
                background: $cl-light-blue
        span
            background: $cl-light-blue
            border: none
            height: 5px
            width: 100%
            position: absolute
            top: 0
            left: 0
            transition: all .35s ease
            cursor: pointer
            &:nth-of-type(2)
                top: 11px
            &:nth-of-type(3)
                top: 22px
    .overlay
        position: fixed
        background: $cl-white
        top: 0
        left: 0
        width: 100%
        height: 0%
        opacity: 0
        visibility: hidden
        transition: opacity .35s, visibility .35s, height .35s
        overflow: hidden
        z-index: 100
        &.open
            opacity: .9
            visibility: visible
            height: 100%
            li
                animation: fadeInRight .5s ease forwards
                animation-delay: .35s
                &:nth-of-type(2)
                    animation-delay: .4s
                &:nth-of-type(3)
                    animation-delay: .45s
                &:nth-of-type(4)
                    animation-delay: .50s
        nav
            position: relative
            height: 70%
            top: 50%
            transform: translateY(-50%)
            font-size: 50px
            font-weight: 400
            text-align: center
            ul
                list-style: none
                padding: 0
                margin: 0 auto
                display: inline-block
                position: relative
                height: 100%
                li
                    display: block
                    height: 25%
                    height: calc(100% / 4)
                    min-height: 50px
                    position: relative
                    opacity: 0
                    &.register-mobile
                        a
                            background: $cl-strong-blue
                            color: $cl-white
                            border-radius: 1em
                    a
                        display: block
                        position: relative
                        color: $cl-light-blue
                        text-decoration: none
                        overflow: hidden
                        font-size: 0.65em

@keyframes fadeInRight
    0%
        opacity: 0
        left: 20%

    100%
        opacity: 1
        left: 0

//Medias para el header con max-width
@media screen and (max-width: 320px)
    section.hero
        a
            font-size: $font-rg

@media screen and (min-width: 350px)
    section.containerFuncionalidades
        div.logoFuncionalidad
            h2
                font-size: $font-ebig

@media screen and (min-width: 700px)
    section.resto-partners
        div
            justify-content: space-between
            div
                justify-content: space-between
                gap: 5em
                article
                    border-radius: 3em
                article.partner2
                    display: inline-block
    section.sumartePartner
        flex-direction: row
        gap: 5em
        a
            min-width: 15em
    section.contrata-woki
        flex-direction: row
        align-items: center
        justify-content: space-around
        text-align: left
        div.contrata-titulo
            display: none
        div.contrata-texto
            h4
                display: block
                font-size: $font-big
            h3
                display: block
                font-size: $font-ebig
            h5
                font-size: 1.3em
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 1em
            div
                flex-direction: row
                img
                    width: 150px
@media screen and (min-width: 1000px)
    div.mainFooter
        display: block
    section.hero
        background-image: url(../img/hero-background-cpu.svg)
        background-position: 35% 65%
        background-size: cover
        display: grid
        grid-template-columns: repeat(11, 1fr)
        grid-template-rows: repeat(6, 1fr)
        grid-template-areas: ".titulo titulo titulo titulo .woki woki woki woki woki" ".titulo titulo titulo titulo .woki woki woki woki woki" ".parrafo parrafo parrafo parrafo .woki woki woki woki woki" ".parrafo parrafo parrafo parrafo .woki woki woki woki woki" ".parrafo parrafo parrafo parrafo .woki woki woki woki woki" ".asesor asesor asesor asesor .woki woki woki woki woki"
        h1
            padding-top: 1em
            font-size: $font-big + 0.5em
            text-align: left
            grid-area: titulo
        img
            grid-area: woki
            align-self: center
            justify-self: center
        p
            padding-top: 3em
            text-align: left
            grid-area: parrafo
            line-height: 2em
        a
            align-self: center
            width: 15em
            grid-area: asesor
    main
        margin: 0vh 5vw
        section.containerFuncionalidades
            div.logoFuncionalidad
                position: relative
                top: 1.8em
                img
                    position: relative
                    left: -2vw
                h2
                    font-size: 4em
            article
                border-radius: 3em
                padding: 0em 2em
                h3
                    font-size: $font-big
                    grid-area: wokiTitulo
                    text-align: left
                p
                    grid-area: wokiParagraph
                    font-size: 1.2em
                img
                    width: 40vw
                    grid-area: wokiImg
                &.first
                    padding-top: 3em
                    display: grid
                    gap: 0px 0px
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr 1fr 1fr 1fr
                    grid-template-areas: "wokiTitulo wokiImg" "wokiParagraph wokiImg" "wokiParagraph wokiImg" "wokiParagraph wokiImg"
                    p
                        padding-right: 1.5em
                &.second
                    height: 80vh
                    display: flex
                    flex-direction: column
                    gap: 0em
                    align-items: flex-end
                    background-image: url(../img/mesaya-funcionalidad2.svg)
                    background-size: 55%
                    background-repeat: no-repeat
                    background-position-y: 70%
                    padding: 0.2em 0em
                    img
                        display: none
                    h3
                        width: 40vw
                        padding-top: 1em
                    p
                        width: 40vw
                        padding-right: 1em
                        font-size: 1em
                &.funcionalidadTips
                    display: flex
                    gap: 2em
                    justify-content: space-around
                    padding: 1.5em
                    i
                        display: none
                    div.tip
                        display: flex
                        flex-direction: column
                        gap: 1em
                &.backReservas
                    background-image: url(../img/reservas-funcionalidad2.svg)
                    background-size: 40%
                    background-position-x: 10%
                    img
        section.contenedorSimple
            border-radius: 3em
            article
                padding: 1em 5em
                width: 50vw
                gap: 1.5em
                justify-content: space-around
                height: 100%
                h3
                    font-size: $font-sbig
                h2
                    font-size: $font-big
                img
                    display: none
                a
                    width: auto
                    font-size: 1.2em
                    padding: 0.3em 2em
                    &:hover
                        background: $cl-blue
                        color: $cl-white
        section.conclusion
            height: 35em
            background-image: url(../img/conclusion.svg)
            background-repeat: no-repeat
            background-size: 40%
            background-position: 10% 40%
            article
                text-align: left
                align-items: flex-start
                width: auto
                margin-left: 40vw
                padding: 1em
                h2
                    font-size: 1.5em
                p
                    font-size: 1em
                    line-height: 2em
        section.preguntasFrecuentes
            background-image: url(../img/preg-frecuentes.svg)
            background-repeat: no-repeat
            background-size: 30%
            background-position: 80% 50%
            height: 55vh
            article
                text-align: left
                align-items: flex-start
                h2
                    width: 40vw
        section.pricing
            height: 55vh
            background-image: url(../img/pricing.svg)
            background-repeat: no-repeat
            background-size: 35%
            background-position: 10% 40%
            article
                text-align: left
                align-items: flex-start
                width: auto
                margin-left: 40vw
                h2
                    width: 30vw
                a
                    &:hover
                        background: $cl-violet
                        color: $cl-white
        section.resto-partners
            div
                div
                    article
                        width: 250px
                    article.partner3
                        display: inline-block
    footer
        margin: 0em 0em 0em 0em
        display: flex
        border-radius: 3em 0 0 0
        gap: 3em
        flex-direction: row-reverse
        justify-content: space-around
        form
            padding-top: 2em
            div.pasos
                display: flex
                flex-direction: row
                gap: 2em
            input, button
                width: 10em
                &.send
                    width: 21.5em
                    height: 3em
            textarea
                width: 21.5em
                height: 10em
        section.pie
            margin-top: 1em

@media screen and (min-width: 1200px)
    main
        section.containerFuncionalidades
            article
                &.second
                    p
                        font-size: 1.2em
        section.conclusion
            height: 35em
            background-size: 30%
            article
                h2
                    font-size: 2em
                p
                    font-size: 1.2em
                    line-height: 1.5em
        section.resto-partners
            div
                div
                    article
                        width: 300px
                        height: 350px
                        max-height: 700px
    footer
        form
            input, button
                width: 15em
                &.send
                    width: 31.5em
            textarea
                width: 31.5em
@media screen and (min-width: 1400px)
    main
        section.containerFuncionalidades
            article
                &.second
                    gap: 3em
                    background-position-y: 50%
